@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* General page style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "roboto", Arial, Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

/* navbar Style */
header {
  align-items: center;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0.9;
}

.hamburger-menu {
  color: black;
  font-size: 1.2rem;
}

/* Welcome Section Style */
.welcome-link {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.welcome-section {
  background-image: url("/images/header-illsutration-mobile.png");
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.welcome-section > .container > h1 {
  margin-top: 15%;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  color: #172b4d;
}

.welcome-section > .container > h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  color: #32b37e;
}

.welcome-section > .container > p {
  line-height: 1.6;
  width: 80%;
  font-size: 1.1rem;
  height: 30%;
  margin-top: 20px;
  text-align: center;
  color: #172b4d;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-link {
  margin-top: 10vh;
  width: 50%;
}

li > a {
  font-size: 1.5rem;
  color: #505f79;
}

.bottom-arrow {
  display: flex;
  justify-content: center;
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.08em solid #dfe1e6;
  border-radius: 50%;
  margin: auto;
}

.bottom::after {
  position: relative;
  left: 22px;
  top: 8px;
  content: '';
  display: inline-block;
  margin-top: 0.6em;
  width: 1em;
  height: 0.9em;
  border-top: 0.2em solid #333;
  border-right: 0.2em solid #333;
  border-radius: 3px;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.works-title {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  width: 80%;
  font-weight: 900;
  color: #172b4d;
  margin: 3vh auto 5vh auto;
}

.works-title::after {
  border-radius: 10px;
  content: "";
  width: 48px;
  display: block;
  height: 4px;
  background-color: #32b37e;
  margin: auto;
  margin-top: 20px;
}

.projects-container {
  display: grid;
  grid-template-rows: auto;
  column-gap: 10px;
}

.project {
  background-color: #ebf0ee;
  width: 90%;
  margin: 2vh auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
}

.project-image {
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-size: auto;
  background-position: center;
}

.project-description {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-description h3 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  color: #3a4a42;
  margin-top: 20px;
}

.project-description ul {
  padding: 10px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-description ul > li {
  font-size: 12px;
  font-weight: 500;
  margin: 5px 0;
  padding: 10px;
  background-color: #ebf0ee;
  border-radius: 5px;
}

.project-description > .btn {
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background-color: #32b37e;
  color: white;
  margin: 15px 0 25px 0;
}

.about-section {
  display: block;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.about-description {
  text-align: center;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 52px;
}

.about-text {
  /* height: 25vh; */
  line-height: 32px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  color: #172b4d;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
}

.about-description > .btn {
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  background-color: #32b37e;
  color: white;
  margin: 15px 0 25px 0;
}

.back-img1 {
  background-image: url("images/Mask Group.png");
  border: none;
  position: absolute;
  width: 100%;
  top: 389vh;
  left: 82vw;

  /* margin-bottom: -235vh; */
  z-index: -1;
}

.back-img2 {
  position: absolute;
  width: 100%;
  top: 389vh;

  /* margin-bottom: -252vh; */
}

.about-skills {
  display: grid;
  column-gap: 10px;
}

.skills {
  background-color: #ebf0ee;
  height: 53vh;
  width: 90vw;
  margin: 2vh auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
}

.skills > .icon {
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-size: auto;
  background-position: center;
  margin: 3vh auto;
}

.skills > h4 {
  text-align: center;
  color: #172b4d;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3vh;
}

.skills ul {
  padding: 10px;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills ul > li {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0;
  padding: 10px;
  background-color: white;
  color: #36b37e;
  border-radius: 5px;
}
